In [1]:
# coding: utf-8

# In[1]:


import pandas as pd
import pymysql

In [48]:
# Connects to the database.
def openMySqlConnection(host, port, dbname, user, password):
    conn = pymysql.connect(host, user=user,port=port,passwd=password, db=dbname)
    print("The connection is open")
    return conn

In [6]:
# Closes a connection to the database.
def closeMySqlConnection(conn):
    conn.close()
    print("The connection is closed")

In [ ]:
# Creates a new user
def createUser(userName, userPass):
    try:
        conn = newConnection()
        stmntNewUser = "CREATE USER '" + userName + "'@'%'" + " IDENTIFIED BY '" + userPass + "';"
        with conn.cursor() as cursor:
            sql = stmntNewUser
            print(sql)
            cursor.execute(sql)

        with conn.cursor() as cursor:
            sql = "SELECT user FROM mysql.user"
            cursor.execute(sql)
            result = cursor.fetchall()
            print(result)
    finally:
        closeMySqlConnection(conn)
        print("User created")

In [ ]:
# Creates a new view
def createView(tableName, viewName, columns):
    stmnt = "CREATE VIEW " + viewName + " AS SELECT " + columns + " FROM " + tableName + ";"
    try:
        conn = newConnection()
        with conn.cursor() as cursor:
            cursor.execute(stmnt)
    finally:
        closeMySqlConnection(conn)
        print("View created")

In [ ]:
# Creates the views that the user has selected
def createView(tablenames, columnNames, viewName):
    try:
        conn = newConnection()
        stmt = "Create view " + viewName + " as select " + tablenames[0]+".POA_CODE_2016, "
        for i in columnNames:
            if(i!="POA_CODE_2016"):
                stmt += i + ", "
        stmt=stmt[:-2]
        stmt+= " from "
        for i in tablenames:
            stmt+= i + ", "
        stmt=stmt[:-2]
        if(len(tablenames)>1):
            stmt+= " where "
            for j in range(len(tablenames)-1):
               stmt+= tablenames[0]+".POA_CODE_2016 = " + tablenames[j+1] + ".POA_CODE_2016 AND "
        stmt=stmt[:-4]
        with conn.cursor() as cursor:
            print(stmt)
            cursor.execute(stmt)
            "Executing statement..."
    finally:
        closeMySqlConnection(conn)
        print("View created")

In [ ]:
#Gives permissions in a specif view
def grantPermissions(databaseName, viewName, userName):
    stmnt = "GRANT ALL ON " + databaseName + "." + viewName + " TO '" + userName + "'@'%';"
    try:
        conn = newConnection()
        with conn.cursor() as cursor:
            sql = stmnt
            cursor.execute(sql)
    finally:
        closeMySqlConnection(conn)
        print("Permission given")

In [ ]:
#This function revokes permissions from a user
def revokePermissions(userName):
    stmnt = "REVOKE ALL PRIVILEGES ON *.* FROM '" + userName + "'@'%';"
    try:
        conn = newConnection()
        with conn.cursor() as cursor:
            sql = stmnt
            cursor.execute(sql)
    finally:
        closeMySqlConnection(conn)
        print("Permissions revoked")

In [46]:
#This creates a connection to the database
def newConnection():
    host = "datasparkdb.cbbvbxlm9nap.us-east-1.rds.amazonaws.com"
    port = 3306
    dbname = "DataSparkDataBase"
    user = "aarasu"
    password = "aabbccdd1234"
    conn = openMySqlConnection(host, port, dbname, user, password)
    return conn

In [ ]:
#This function will 
def getTableNames(tclist):
    tableList = []
    uTableList = [item[0] for item in tclist]
    for i in uTableList:
        if i not in tableList:
            tableList.append(i)
    return tableList

In [ ]:
def getColumnNames(tclist):
    uColumnList = [item[1] for item in tclist]
    return uColumnList

In [36]:
def getViewNames(username, password):
    try:
        conn = pymysql.connect("datasparkdb.cbbvbxlm9nap.us-east-1.rds.amazonaws.com", user=username,port=3306,passwd=password, db="DataSparkDataBase")
        stmnt = "SHOW FULL TABLES IN DataSparkDataBase WHERE TABLE_TYPE LIKE 'VIEW';"
        with conn.cursor() as cursor:
            sql = stmnt
            cursor.execute(sql)
    finally:
        closeMySqlConnection(conn)
    viewNames = [i[0] for i in cursor.fetchall()]
    return viewNames

In [37]:
a=getViewNames("aarasu", "aabbccdd1234")
print(a)

The connection is closed
['G04V', 'G05V', 'erick_selected_tables_columns', 'german2_selected_tables_columns', 'german_selected_tables_columns', 'm10_selected_tables_columns', 'mustafa2_selected_tables_columns']

In [33]:
print(a[:][0])

('G04V', 'VIEW')

In [43]:
# viewname is a list of views
def viewsDelete(username, password, viewname): 
    try:
        conn = pymysql.connect("datasparkdb.cbbvbxlm9nap.us-east-1.rds.amazonaws.com", user=username,port=3306,passwd=password, db="DataSparkDataBase")
        stmnt = "Drop VIEW if exists "
        for i in viewname:
            stmnt= stmnt + i +", " 
        stmnt = stmnt[:-2]
        with conn.cursor() as cursor:
            sql = stmnt
            cursor.execute(sql)
    finally:
        closeMySqlConnection(conn)
    return "views Deleted"

In [75]:
def userDelete(username, password):
    try:
        conn = newConnection()
        stmnt_1 = "DROP USER IF EXISTS '"+username+"'@'%' ;"
        userViews = getViewNames(username, password)
        #UserViews_deleteStatus = viewsDelete(username, password, userviews)
        
        with conn.cursor() as cursor:
            sql = stmnt_1
            cursor.execute(sql)
    finally:
        closeMySqlConnection(conn)

In [77]:
def userUpdatePassword(username, newPassword):
    try:
        conn = newConnection()
        stmnt = "ALTER USER '"+username+"'@'%' identified by '"+newPassword+"';"
        
        with conn.cursor() as cursor:
            sql = stmnt
            cursor.execute(sql)
    finally:
        closeMySqlConnection(conn)
    a = username+ " password updated"
    return a

In [78]:
u = userUpdatePassword('dummyuser1', 'abcdef1234')
print(u)

The connection is open
The connection is closed
dummyuser1 password updated

In [76]:
userDelete("dummyuser1","aabbccdd1234")

The connection is open
The connection is closed
The connection is closed